@font-face {
  font-family: 'SignPainter';
  src: url('~@/assets/fonts/SignPainter-HouseScript.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Sigmar One';
  src: url('~@/assets/fonts/SigmarOne-Regular.woff2') format('woff2'),
  url('~@/assets/fonts/SigmarOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

