.primary-button {
  display: inline-block;
  user-select: none;

  button {
    outline: none;
    border: 5px solid #fff;
    border-radius: 100px;
    background: #7023A5;
    color: #fff;
    line-height: 100%;
    padding: 13px 40px;
    width: 100%;
    font-size: 42px;
    transition: transform 0.2s linear, background-color 0.2s linear;

    &:active {
      transform: scale(0.8, 0.8);
      background: #601395;
    }
  }
}
