.select-language {
  .locale {
    text-align: center;
    button {
      display: inline-block;
      font-size: 31px;
      outline: none;
      border: none;
      color: #fff;
      margin-bottom: 33px;
      margin-top: 33px;
    }
  }
}
